[package]
name = "hologram-base"
version = "4.10.5"
release = 1
description = "Minimal configuration for all systems"
requires = [
	"holo",
	"group:base-devel", # don't depend on group:base. It can't be resolved by pacman -Sg

	"acpi",
	"gvim", # gvim instead of vim, so we have clipboard support
	"holo",
	"man-db",
	"screen", # TODO write /etc/screenrc - See ~/.screenrc
	"tree",
	"unzip",
	"wget",
	"xxhash",
	# emacs in hologram-dev since it is too big for a minimal installation
	# intel-ucode/intel-microcode in holodecks since it is machine specific
]


[[group]]
name = "sudo"
system = false

[[file]]
path = "/etc/sudoers.d/sudo"
mode = "0444"
contentFrom = "files/sudo"

[[file]]
path = "/usr/share/holo/files/00-base/etc/bash.bashrc.holoscript"
mode = "0755"
contentFrom = "holoscripts/bashrc_hologram-base"

# NTP
# as created by `systemctl enable systemd.timesyncd`
[[symlink]]
path = "/etc/systemd/system/dbus-org.freedesktop.timesync1.service"
target = "/usr/lib/systemd/system/systemd-timesyncd.service"
[[symlink]]
path = "/etc/systemd/system/sysinit.target.wants/systemd-timesyncd.service"
target = "/usr/lib/systemd/system/systemd-timesyncd.service"


# some binaries

[[file]]
path = "/usr/bin/hashes"
mode = "0755"
contentFrom = "files/hashes.pl"

[[file]]
path = "/usr/bin/flatten"
mode = "0755"
contentFrom = "files/flatten.pl"
