[package]
name = "holodeck-titus"
version = "1.2.0"
release = 1
description = "configuration of PC 'Titus'"
requires = [
	# holo
	"holo-users-groups",

	# holograms
	"hologram-base-arch",
	"hologram-dev",
	"hologram-multimedia",

	# low-level
	"amd-ucode",

	# drivers and utilities
	"nvidia",
	"nvidia-settings",
	"nvidia-utils",
	"nvtop",
	"xf86-input-wacom",

	# other packages
	"android-file-transfer",
	"android-tools",
	"blender",
	"krita",
	"openssh",
	"wine",
	"wireguard-tools",
]


# user

[[group]]
name = "sudo"
system = false

[[user]]
name    = "laerling"
system  = false
comment = "Benjamin Ludwig"
uid     = 1000
groups  = [ "audio", "video", "sudo" ]
home    = "/home/laerling"
shell   = "/bin/bash"

[[directory]]
path = "/home/laerling"
mode = "0700"
owner = "laerling"
group = "laerling"


# Fixes and workarounds

# Workaround for annoying error messages a la 'i2c timeout error' or 'i2c_transfer failed'
# nvidia driver assumes USB-C, even though none is present.
# See https://askubuntu.com/a/1289997
[[file]]
path = "/etc/modprobe.d/blacklist_i2c-nvidia-gpu.conf"
mode = "0444"
content = "blacklist i2c_nvidia_gpu"

# Workaround for gdm not starting properly
# see https://wiki.archlinux.org/index.php/GDM#GDM_freezes_with_systemd
[[file]]
path = "/usr/share/holo/files/99-titus/usr/lib/systemd/system/gdm.service.holoscript"
mode = "0755"
contentFrom = "holoscripts/gdm.service.sh"


# setup the drawing tablet for the right screen

# crop usable area on the tablet to screen ratio (assuming 16/9 ratio)
[[action]]
on = "setup"
script = "xsetwacom set 8 Area 0 460 14720 8740"

# map to the right screen (assuming both are 1920x1080 pixels)
[[action]]
on = "setup"
script = "xsetwacom set 8 MapToOutput 1920x1080+1920+0"